body {
   background: #A1CDF1;
   color: dimgrey;
   text-align: center;
}
a {
  text-decoration: none;
  color: dimgrey;
}
.btn {
  display: block;
  color: black;
  padding: 30px;
  background: white;
 margin: 16px;
 box-shadow: 10px 10px dimgrey;
  
  